div.comment-form
  h3 comment form
  form(onSubmit=handleSubmit())
    input(type="text" placeholder="author" ref='author')
    input(type="text" placeholder="comment" ref='comment_text')
    input(type="submit" value="コメントする")
